.grid {
  width: 610px;
  height: 610px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
}

.grid div {
  width: 200px;
  height: 200px;
  background-color: white;
  margin-bottom: 5px;
}

.playerX {
  background-image: url('../img/cross.png');
}

.player0 {
  background-image: url('../img/circle.png');
}
